button{
background-color: blue;
}
#input{
    background-color: blue;
}


#table{
    background-color: pink;
     color: red;   
}
#table1{
    background-color: black;
    color: white ;
}
#ajay{
    background-color: red;
    color: white;
}
.border{
    background-color: brown;
    color: white;
}
.class{
    background-color: crimson;
}